@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Nunito");
/* ============================
* カラー
============================ */
/* ============================
* フォントカラー
============================ */
/* ============================
* ブランドカラー
============================ */
/* ============================
* 魚の色
============================ */
/* ============================
* 文字の大きさ
============================ */
/* ============================
* 全称セレクター
============================ */
* {
  box-sizing: border-box;
}

/* ============================
* スペースのリセット
============================ */
.spacing-reset {
  padding: 0;
  margin: 0;
}

/* ============================
* 全体共通
============================ */
.page-title {
  font-size: 2.5rem;
  margin-bottom: 4rem;
}

.separator {
  margin-bottom: 2rem;
  background-color: #888;
}

/* ----------------------------
* Card
---------------------------- */
.common-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.common-card::after {
  content: "";
  display: block;
  width: 23%;
}
.common-card::before {
  content: "";
  display: block;
  width: 23%;
  order: 1;
}
.common-card-item {
  width: 23%;
  margin-bottom: 3rem;
}
.common-card-title {
  height: 65px;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.common-card-text {
  height: 100px;
  margin-bottom: 1rem;
}
.common-card-image {
  height: 214px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1rem;
}
.common-card-like {
  display: flex;
  align-items: baseline;
}
.common-card-like-icon {
  color: #FF6464;
  margin-right: 1rem;
}
.common-card-button {
  color: #fff;
  background-color: #91C483;
  border: none;
}
.common-card-button:hover {
  color: #fff;
  background-color: #FFE162;
}

/* ----------------------------
* Search
---------------------------- */
.common-search-form {
  margin-bottom: 3rem;
}
.common-search-button {
  color: #fff;
  background-color: #91C483;
  border: none;
}
.common-search-button:hover {
  color: #fff;
  background-color: #FFE162;
}

/* ----------------------------
* show
---------------------------- */
.show-card {
  padding: 3rem;
}
.show-card-section {
  margin-bottom: 2rem;
}
.show-card-item {
  display: flex;
  flex-wrap: wrap;
}
.show-card-title {
  margin-bottom: 2rem;
  font-size: 2.5rem;
}
.show-card-image {
  width: 360px;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  margin-right: 3rem;
}
.show-card-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.show-card-button-action {
  display: flex;
  align-items: center;
}
.show-card-button-follow {
  margin-left: 4rem;
}
.show-card-back {
  width: 80px;
  color: #fff;
  background-color: #91C483;
}
.show-card-back:hover {
  color: #fff;
  background-color: #FFE162;
}
.show-card-text {
  padding: 2rem;
}
.show-card-text p {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}
.show-card-text p span {
  font-weight: bold;
}
.show-card-text p:last-child {
  margin-left: 1rem;
  margin-bottom: 0;
  width: 300px;
}
.show-card-like {
  display: flex;
  align-items: center;
}
.show-card-icon {
  margin-right: 0.5rem;
  color: #ddd;
}
.show-card-icon-count {
  font-size: 1.3rem;
  margin-left: 0.5rem;
}
.show-card-heart {
  color: #FF6464;
}
.show-card-separator {
  color: #ddd;
  margin-bottom: 2rem;
}
.show-card-subheading {
  font-size: 1.75rem;
  margin-bottom: 2rem;
}
.show-card-subheading-span {
  margin-left: 1rem;
  font-size: 1.5rem;
}
.show-card-link {
  color: #fff;
  background-color: #91C483;
}
.show-card-link:hover {
  color: #fff;
  background-color: #FFE162;
}
.show-card-material-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}
.show-card-material-item {
  list-style: none;
  font-size: 1.2rem;
  margin-left: 2rem;
}
.show-card-material-span {
  color: #ddd;
  padding-left: 2rem;
}
.show-card-post {
  list-style: none;
}
.show-card-post-list-group {
  display: flex;
  justify-content: space-between;
  padding: 0px 2rem 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd;
}
.show-card-post-list-item {
  list-style: none;
  font-size: 1.2rem;
}

/* ----------------------------
* Pagination
---------------------------- */
.page-link {
  color: #333;
}
.page-link:hover {
  color: #fff;
  background-color: #FFE162;
}

.page-item.active .page-link {
  color: #fff;
  background-color: #FFE162;
  border-color: #FFE162;
}

/* ----------------------------
* Alert
---------------------------- */
.alert-message-success {
  background-color: #91C483;
  opacity: 0.8;
  color: #fff;
  text-align: center;
  margin-bottom: 3rem;
}
.alert-message-error {
  background-color: #FF6464;
  color: #fff;
  position: relative;
  padding: 0.5rem 1rem;
  margin: 0 1rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

/* ----------------------------
* Button
---------------------------- */
.button-delete {
  color: #fff;
  background-color: #FF6464;
  border-color: #FF6464;
  margin-left: 4rem;
}
.button-delete:hover {
  opacity: 0.8;
  color: #fff;
}
.button-edit {
  color: #fff;
  background-color: #91C483;
  border-color: #91C483;
  margin-left: 4rem;
}
.button-edit:hover {
  opacity: 0.8;
  color: #fff;
}

/* ============================
* レイアウト
============================ */
.container-spacing {
  padding-top: 1rem;
}

.aside-layout {
  background-color: #fafafa;
  padding: 3rem 1rem;
  min-height: 100vh;
  box-sizing: border-box;
}

.main-layout {
  padding: 3rem;
}

/* ============================
* Header
============================ */
.nav-icon {
  color: #333;
}
.nav-icon:hover {
  color: #fff;
}
.nav-header {
  background-color: #FFE162;
  padding: 0px 48px;
}
.nav-height {
  height: 64px;
}
.nav-list {
  height: 100%;
}
.nav-list li a {
  font-size: 1rem;
  color: #333;
  display: block;
  padding: 23px 1rem;
}
.nav-list li a:hover {
  color: #fff;
}

.dropdown-menu li a {
  text-align: center;
}
.dropdown-menu li a:hover {
  background-color: #FFE162;
  color: #fff;
}

.nav-list .header-active {
  border-bottom: 2px solid #fff;
  padding-bottom: 8px;
}

/* ============================
* Admin関連
============================ */
.admin-title {
  font-size: 2.5rem;
  margin-bottom: 4rem;
}
.admin-subtitle {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid #91C483;
}
.admin-button {
  padding: 0.5rem 0;
  color: #fff;
  background-color: #91C483;
  margin-bottom: 4rem;
}
.admin-button:hover {
  background-color: #FFE162;
  color: #333;
}
.admin-sidebar {
  list-style: none;
}
.admin-sidebar-icon {
  width: 30px;
  margin-right: 0.5rem;
}
.admin-menu {
  color: #333;
  margin-bottom: 4rem;
}
.admin-menu:hover {
  color: rgba(51, 51, 51, 0.7);
  box-sizing: border-box;
  margin-bottom: 3.8rem;
  border-bottom: solid 0.2rem #91C483;
}
.admin-active {
  margin-bottom: 3.8rem;
  border-bottom: solid 0.2rem #FFE162;
}

/* ============================
* Auth関連
============================ */
.auth-header {
  margin-bottom: 4rem;
}
.auth-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.auth-card-body {
  padding: 3rem;
}
.auth-form-group {
  margin-bottom: 2rem;
}
.auth-form-group:last-child {
  margin-bottom: 3rem;
}
.auth-button {
  padding: 0.5rem 0;
  color: #fff;
  background-color: #91C483;
}
.auth-button:hover {
  background-color: #FFE162;
  color: #333;
}
.auth-button-social {
  margin-bottom: 2rem;
}
.auth-button-social:hover {
  background-color: #FFE162;
  color: #333;
}
.auth-button-social-link {
  padding: 0.5rem 0;
  color: #fff;
}
.auth-button-social-link:hover {
  background-color: #FFE162;
}
.auth-button-social-icon {
  margin-right: 1rem;
}
.auth-button-google {
  background-color: #DB4437;
}
.auth-button-google:hover {
  color: #DB4437;
}
.auth-button-github {
  background-color: #161415;
}
.auth-button-github:hover {
  color: #161415;
}
.auth-button-twitter {
  background-color: #1DA1F2;
}
.auth-button-twitter:hover {
  color: #1DA1F2;
}

/* ============================
* Mypage
============================ */
/* ----------------------------
* 基本設定
---------------------------- */
.mypage-title {
  font-size: 2.5rem;
  margin-bottom: 4rem;
}
.mypage-subtitle {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid #91C483;
}

/* ----------------------------
* sidebar
---------------------------- */
.mypage-sidebar {
  list-style: none;
}
.mypage-sidebar-icon {
  width: 30px;
  margin-right: 0.5rem;
}
.mypage-menu {
  color: #333;
  margin-bottom: 4rem;
}
.mypage-menu:hover {
  color: rgba(51, 51, 51, 0.7);
  box-sizing: border-box;
  margin-bottom: 3.8rem;
  border-bottom: solid 0.2rem #91C483;
}
.mypage-active {
  margin-bottom: 3.8rem;
  border-bottom: solid 0.2rem #FFE162;
}

/* ----------------------------
* Home
---------------------------- */
.select {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 4rem;
}
.select-message {
  margin-bottom: 0;
  margin-right: 2rem;
  font-size: 1.3rem;
}
.select-form {
  width: 40%;
}

/* ----------------------------
* Calendar
---------------------------- */
.calender-button-group {
  margin-bottom: 2rem;
}
.calender-button-group p {
  margin-bottom: 0;
  font-size: 1.4rem;
}
.calender-button {
  background-color: #91C483;
  color: #fff;
}
.calender-button:hover {
  background-color: #FFE162;
  color: #333;
}
.calender-table-row {
  height: 80px;
}
.calender-table-header {
  text-align: center;
  margin-bottom: none;
}
.calender-table-data {
  min-width: 80px;
}
.calender-fish-icon {
  text-align: center;
}

/* ----------------------------
* Record
---------------------------- */
.record-button {
  display: flex;
}
.record-button-group {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.fish-color {
  color: #ddd;
}
.fish-color-first {
  color: #62daff;
}
.fish-color-second {
  color: #628eff;
}
.fish-color-third {
  color: #ff6262;
}

/* ----------------------------
* Setting
---------------------------- */
.setting-block {
  margin-bottom: 2rem;
}
.setting-email {
  margin-bottom: 4rem;
}
.setting-password {
  margin-bottom: 4rem;
}
.setting-title {
  margin: 0 2rem 2rem;
  font-size: 1.2rem;
}
.setting-text {
  font-size: 1.1rem;
  margin-left: 4rem;
}
.setting-input {
  margin-left: 4rem;
  width: 50%;
}
.setting-button {
  margin-left: 4rem;
  width: 20%;
  background-color: #91C483;
  color: #fff;
  border: none;
}
.setting-button:hover {
  color: #fff;
  background-color: #FFE162;
}
.setting-icon-group {
  display: flex;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
}
.setting-icon-text {
  background-color: #FFE162;
  color: #333;
  border-radius: 0.25rem;
  text-align: center;
  padding: 0.25rem;
  margin-bottom: 2rem;
}
.setting-icon-button {
  min-width: 200px;
  margin-left: 0;
}

div .icon-input-box {
  border-radius: 50%;
  width: 160px;
  height: 155px;
}

.preview-box .icon-preview-image {
  width: 160px;
  height: 155px;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  border-radius: 50%;
  border: 1px solid #FFE162;
}

/* ----------------------------
* Profile
---------------------------- */
.profile-section {
  margin: 0 2rem 4rem;
  align-items: center;
}
.profile-block {
  display: inline-block;
  max-width: 20%;
  margin-right: 1rem;
}
.profile-icon {
  width: 160px;
  height: 155px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  background-position: center;
  border-radius: 50%;
  border: 1px solid #FFE162;
}
.profile-name {
  font-size: 2rem;
  color: #333;
}
.profile-name > a {
  border: none;
}
.profile-nav {
  margin-bottom: 3rem;
}

/* ----------------------------
* Follow
---------------------------- */
.follow-list {
  list-style: none;
}
.follow-item {
  margin: 0 4rem 2rem;
  list-style: none;
}
.follow-item:hover {
  margin-bottom: 18px;
  padding-bottom: 5px;
  border-bottom: 1px solid #91C483;
}
.follow-item-link {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
}
.follow-item-image {
  width: 50px;
  height: 50px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  background-position: center;
  border-radius: 50%;
  border: 1px solid #FFE162;
  margin-right: 6rem;
}
.follow-item-name {
  margin-right: 4rem;
  margin-bottom: 0;
  min-width: 200px;
  font-size: 1.2rem;
}

/* ============================
* Recipe
============================ */
/* ----------------------------
* sidebar
---------------------------- */
.recipe-category-list {
  margin: 1rem 0;
}
.recipe-category-item {
  list-style: none;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.recipe-category-item a {
  display: block;
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.recipe-category-item a:hover {
  border-bottom: 1px solid #91C483;
}
.recipe-category-accordion {
  border-bottom: 1px solid #ddd;
}
.recipe-category-button {
  background-color: #fafafa;
}

.accordion-button:not(.collapsed) {
  color: #333;
  background-color: #fafafa;
  box-shadow: inset 0 -1px 0 #ddd;
}

/* ============================
* Post
============================ */
.content-center {
  margin: 0 auto;
}

.post-page-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}
.post-page-title .page-title {
  margin-bottom: 0;
}
.post-create-button {
  color: #fff;
  background-color: #91C483;
  border: none;
  padding: 0.5rem 1rem;
}
.post-create-button:hover {
  color: #fff;
  background-color: #FFE162;
}

.recipe-register-form {
  margin-bottom: 1rem;
  padding: 1rem;
}
.recipe-register-form-body {
  padding: 3rem;
}
.recipe-register-form-section {
  margin-bottom: 3rem;
  padding-bottom: 1.5rem;
}
.recipe-register-form-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.recipe-register-form-image {
  width: 298px;
  height: 447px;
  margin: 0 auto;
}
.recipe-register-form-procedure-image {
  width: 144px;
  height: 144px;
}
.recipe-register-form-label {
  margin-bottom: 1.5rem;
  font-size: 1rem;
}
.recipe-register-form-input {
  margin-bottom: 1.5rem;
  padding: 0.5rem;
}
.recipe-register-form-button {
  background-color: #91C483;
  color: #fff;
  padding: 0.5rem 1rem;
}
.recipe-register-form-button-layout {
  margin: 0 auto;
}
.recipe-register-form-button:hover {
  background-color: #FFE162;
  color: #333;
}
.recipe-register-form-order {
  font-size: 2rem;
  margin: auto 0;
}
.recipe-register-form-material {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.recipe-register-form-material-list {
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #dee2e6;
}
.recipe-register-form-link:hover {
  background-color: rgba(255, 255, 98, 0.2);
  transition: background-color 1s;
}
.recipe-register-form-explanation {
  padding: 7rem;
}

/* ----------------------------
* Edit Material / Seasoning
---------------------------- */
.post-edit-button {
  background-color: #91C483;
  color: #fff;
}
.post-edit-button:hover {
  background-color: #FFE162;
  color: #333;
}

.material {
  margin-bottom: 2rem;
}
.material-form {
  margin-bottom: 3rem;
}
.material-form :nth-child(n) {
  margin-right: 1rem;
}
.material-form :last-child {
  margin-right: 0;
}
.material-form-icon {
  text-align: center;
  margin: auto 0;
}
.material-form-button {
  background-color: #FF6464;
  color: #fff;
}
.material-form-button:hover {
  opacity: 0.7;
  color: #fff;
}
.material-form-button-margin {
  margin-bottom: 3rem;
}
.material-form-button-back {
  width: 80px;
  color: #fff;
  background-color: #91C483;
  margin-bottom: 4rem;
}
.material-form-button-back:hover {
  color: #fff;
  background-color: #FFE162;
}
.material-form-boundary-line {
  margin-bottom: 4rem;
  background-color: #888;
}
.material-register-form {
  padding: 1rem;
}
.material-register-form-label {
  margin-bottom: 1.5rem;
  font-size: 1rem;
}
.material-register-form-tag {
  margin-bottom: 3rem;
}
.material-register-form-tag > p {
  background-color: #FFE162;
  color: #333;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.8rem;
}
.material-register-form-tag :nth-child(n) {
  margin-right: 1rem;
}
.material-register-form-tag :last-child {
  margin-right: 0;
}

.recipe-register-form {
  margin-bottom: 1rem;
  padding: 1rem;
}
.recipe-register-form-body {
  padding: 3rem;
}
.recipe-register-form-section {
  margin-bottom: 3rem;
  padding-bottom: 1.5rem;
}
.recipe-register-form-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.recipe-register-form-image {
  width: 298px;
  height: 447px;
  margin: 0 auto;
}
.recipe-register-form-procedure-image {
  width: 144px;
  height: 144px;
}
.recipe-register-form-label {
  margin-bottom: 1.5rem;
  font-size: 1rem;
}
.recipe-register-form-input {
  margin-bottom: 1.5rem;
  padding: 0.5rem;
}
.recipe-register-form-button {
  background-color: #91C483;
  color: #fff;
  padding: 0.5rem 1rem;
}
.recipe-register-form-button-layout {
  margin: 0 auto;
}
.recipe-register-form-button:hover {
  background-color: #FFE162;
  color: #333;
}
.recipe-register-form-order {
  font-size: 2rem;
  margin: auto 0;
}
.recipe-register-form-material {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.recipe-register-form-material-list {
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #dee2e6;
}
.recipe-register-form-link:hover {
  background-color: rgba(255, 255, 98, 0.2);
  transition: background-color 1s;
}
.recipe-register-form-explanation {
  padding: 7rem;
}

/* ----------------------------
* Edit Procedure
---------------------------- */
.image-input-box {
  background-color: #eee;
  width: 250px;
  height: 250px;
}
.image-input-field {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-input-field > input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 100;
}
.image-input-field > p {
  color: #aaa;
  text-align: center;
  margin-bottom: 0;
}
.image-input-text {
  display: block;
}

.preview-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.preview-image {
  width: 250px;
}

.procedure-form {
  margin-bottom: 4rem;
}
.procedure-form-group {
  margin-bottom: 4rem;
}
.procedure-form-update {
  display: flex;
}
.procedure-texarea {
  padding: 1.5rem;
}
.procedure-button {
  background-color: #91C483;
  color: #fff;
  padding: 0.5rem 1rem;
}
.procedure-button:hover {
  background-color: #FFE162;
  color: #333;
}

/* ----------------------------
* show
---------------------------- */
.post-show-card {
  padding: 3rem 10rem;
}

/* ============================
* Shop
============================ */
.shop-search-button {
  margin-left: 2rem;
}
/*# sourceMappingURL=app.css.map */