@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Nunito");
/* ============================
* カラー
============================ */
/* ============================
* フォントカラー
============================ */
/* ============================
* ブランドカラー
============================ */
/* ============================
* 文字の大きさ
============================ */
/* ============================
* 全称セレクター
============================ */
* {
  box-sizing: border-box;
}

/* ============================
* スペースのリセット
============================ */
.spacing-reset {
  padding: 0;
  margin: 0;
}

/* ============================
* 全体共通
============================ */
.page-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* ============================
* レイアウト
============================ */
.container-spacing {
  padding-top: 1rem;
}

.aside-layout {
  background-color: #EEE;
  padding: 3rem 1rem;
  height: calc(100vh - 64px);
}

.main-layout {
  padding: 3rem 1.5rem 2rem;
}

/* ============================
* Header
============================ */
.nav-header {
  background-color: #FFE162;
  padding: 0px 24px;
}
.nav-height {
  height: 64px;
}
.nav-list {
  height: 100%;
}
.nav-list li a {
  font-size: 1rem;
  color: #333;
  display: block;
  padding: 23px 1rem;
}
.nav-list li a:hover {
  color: #91C483;
}

/* ============================
* Auth関連
============================ */
.auth-header {
  margin-bottom: 4rem;
}
.auth-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.auth-card-body {
  padding: 3rem;
}
.auth-form-group {
  margin-bottom: 2rem;
}
.auth-form-group:last-child {
  margin-bottom: 3rem;
}
.auth-button {
  padding: 0.5rem 0;
  color: #fff;
  background-color: #91C483;
}
.auth-button:hover {
  background-color: #FFE162;
  color: #333;
}
.auth-button-social {
  margin-bottom: 2rem;
}
.auth-button-social:hover {
  background-color: #FFE162;
  color: #333;
}
.auth-button-social-link {
  padding: 0.5rem 0;
  color: #fff;
}
.auth-button-social-link:hover {
  background-color: #FFE162;
}
.auth-button-social-icon {
  margin-right: 1rem;
}
.auth-button-google {
  background-color: #DB4437;
}
.auth-button-google:hover {
  color: #DB4437;
}
.auth-button-github {
  background-color: #161415;
}
.auth-button-github:hover {
  color: #161415;
}
.auth-button-twitter {
  background-color: #1DA1F2;
}
.auth-button-twitter:hover {
  color: #1DA1F2;
}

/* ============================
* Mypage
============================ */
/* ----------------------------
* 基本設定
---------------------------- */
.mypage-title {
  font-size: 2.5rem;
  margin-bottom: 4rem;
}
.mypage-subtitle {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #eee;
}

/* ----------------------------
* sidebar
---------------------------- */
.mypage-sidebar {
  list-style: none;
}
.mypage-sidebar li {
  margin-bottom: 2rem;
}
.mypage-sidebar-icon {
  width: 30px;
  margin-right: 0.5rem;
}

/* ----------------------------
* Setting
---------------------------- */
.setting-email {
  margin-bottom: 4rem;
}
.setting-password {
  margin-bottom: 4rem;
}
.setting-text {
  margin-left: 2rem;
  margin-bottom: 2rem;
}
.setting-input {
  margin: 0 2rem;
}
.setting-button {
  margin-right: 2rem;
}

/* ============================
* Post
============================ */
.content-center {
  margin: 0 auto;
}

.recipe-register-form {
  margin-bottom: 1rem;
  padding: 1rem;
}
.recipe-register-form-body {
  padding: 3rem;
}
.recipe-register-form-section {
  margin-bottom: 3rem;
  padding-bottom: 1.5rem;
}
.recipe-register-form-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.recipe-register-form-image {
  width: 298px;
  height: 447px;
  margin: 0 auto;
}
.recipe-register-form-procedure-image {
  width: 144px;
  height: 144px;
}
.recipe-register-form-label {
  margin-bottom: 1.5rem;
  font-size: 1rem;
}
.recipe-register-form-input {
  margin-bottom: 1.5rem;
  padding: 0.5rem;
}
.recipe-register-form-button {
  background-color: #91C483;
  color: #fff;
  padding: 0.5rem 1rem;
}
.recipe-register-form-button-layout {
  margin: 0 auto;
}
.recipe-register-form-button:hover {
  background-color: #FFE162;
  color: #333;
}
.recipe-register-form-order {
  font-size: 2rem;
  margin: auto 0;
}
.recipe-register-form-material {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.recipe-register-form-material-list {
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #dee2e6;
}
.recipe-register-form-link:hover {
  background-color: rgba(255, 255, 98, 0.2);
  transition: background-color 1s;
}
.recipe-register-form-explanation {
  padding: 7rem;
}
/*# sourceMappingURL=app.css.map */